body {
    margin: 0;
}



#first-section {
    height: 100vh;
    background-image: url('../images/background-section1-marineAir.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}